# Python
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.cache/
dist/
build/
*.egg
.eggs/
develop-eggs/

# Virtual Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
/data/
/docs_textual/
*.gsheet
dl_pdf/
sample_pdf_folder/
sample_pdf_folder_bkp/

# OS specific
.DS_Store
Thumbs.db
